<h4 class="text-center fw-bold justify-content-center align-item-center">All Right's reserved <span class="fw-light">
    Ahmed M. Turki </span></h4>
    <script src="/assets/JS/jquery-3.5.1.min.js"></script>
    <script src="/assets/JS/popper.min.js"></script>
    <script src="/assets/JS/bootstrap.min.js"></script>
    <script src="/assets/JS/main.js"></script>
</body>

</html> 